body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


header{
    width: 100%;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    line-height: 0px;
    font-weight: 400;
    font-size: 14px;
    background: white;
    z-index: 5000;
}


header img{
    width: 50px;
}


.logo-titulo{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
}

nav a{
 text-decoration: none;
 color:rgb(0, 0, 0);
 padding: 10px;
 margin: 0px 8px;
 font-family: 'Poppins', sans-serif;
 line-height: 68px;
 font-weight: 600;
 font-size: 14px;
}


.contenedor-inicio{
    width: 100%;
    min-height:740px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
   
}

.inicio-img{
    width: 38%;
    height:600px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    
}

.inicio-img img{
    width: 550px;
}

.inicio-informacion{
    width: 45%;
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  
}


.inicio-informacion h3{
    margin: 0;
    padding: 0 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.inicio-informacion p{
    padding: 0px 40px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    line-height: 34px;
    font-weight: 400;
    font-size: 18px;
}

.inicio-informacion button{
    width: 130px;
    height: 40px;
    background: purple;
    border-radius:15px;
    border: none;
    margin-left: 40px;
    color:white;
    background: linear-gradient(to right, rgb(58, 73, 186), rgb(35, 35, 201),rgb(4, 4, 202));
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
}

.inicio-informacion button:hover{
    background: linear-gradient(to right, rgb(110, 117, 173), rgb(68, 68, 177),rgb(41, 41, 174));
}



.contenedor-bloques{
width: 100%;
min-height: 500px;
background: salmon;
display: grid;
grid-template-areas: 'bloque1 bloque2 bloque3';
grid-template-columns: repeat(3, 25%);
grid-template-rows: 75%;
gap: 50px;
align-content: center;
justify-content: center;
background: rgb(236, 236, 236);
}


.bloque1{
    grid-area: bloque1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
}

.bloque2{
    grid-area: bloque2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
}
.bloque3{
    grid-area: bloque3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
}



.bloque1 h4,.bloque2 h4, .bloque3 h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 2px;
    margin: 0;
}
.bloque1 p,.bloque2 p, .bloque3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 40px;
}

.bloque1 img,.bloque2 img, .bloque3 img{
    width: 100px;
}


.contenedor-built{
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.built-img{
    width: 40%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.built-img img{
    width: 400px;
}

.built-informacion{
    width: 50%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.built-informacion h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    padding: 0 20px;
    margin: 0;
}
.built-informacion p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
}


.cuenta{
    width: 94%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.cuadro1{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}


.cuadro2{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.cuadro3{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.cuadro4{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}



.cuadro1 h4, .cuadro2 h4,.cuadro3 h4 , .cuadro4 h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    line-height: 27px;
    font-weight: 700;
    margin: 0;
    padding: 0 ;
}

.cuadro1 p, .cuadro2 p,.cuadro3 p, .cuadro4 p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
    margin: 0;
}

.cuadro1 img,.cuadro2 img,.cuadro3 img,.cuadro4 img{
    width: 60px;
}

.cuadro-informacion{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}



.contenedor-only{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.only{
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.only h4{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
}

.only p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.only button{
 width: 150px;
 height: 32px;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
}


.contenedor-contact{
    width: 100%;
    min-height: 550px;
    background: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tarjeta{
    width: 380px;
    height: 530px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.tarjeta-img{
    width: 100%;
    height: 40%;
}

.tarjeta-img img{
   width: 100%;
   height: 100%;
   
}

.tarjeta-informacion{
    width: 85%;
    height: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.tarjeta-informacion h4{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    padding: 0 2px;
    
}

.tarjeta-informacion p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    padding-top: 20px;
}

.tarjeta-informacion-button{
    width: 100%;
    height: 30px;
    padding: 0px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.tarjeta-informacion-button button{
    width: 130px;
    height: 40px;
    background: purple;
    border-radius:15px;
    border: none;
    color:white;
    background: linear-gradient(to right, rgb(58, 73, 186), rgb(35, 35, 201),rgb(4, 4, 202));
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
}
.tarjeta-informacion-button button:hover{
    background: linear-gradient(to right, rgb(110, 117, 173), rgb(68, 68, 177),rgb(41, 41, 174));
}


.contenedor-project{
    width: 80%;
    height: 700px;
    text-align: center;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.project{
    width: 100%;
    min-height: 60%;
    
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .card-img-top{
    height: 280px;
  }

  .card {
    margin: 0 0.5em;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }

  .carousel{
      height: 100%;
  }

.card-body{
    text-align: left;
}
.card a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-decoration: none;
    color: #222222;

}

.card p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 2px;
}









.contenedor-clients-say{
    width: 100%;
    height: 420px;
    min-height: 420px;
    background: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.clients-say-titulo{
    width: 100%;
    height: 20%;
    text-align: center;
}

.clients-say-opiniones{
    width: 90%;
    height: 60%;
}


.contenedor-opinion{
    width: 500px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: white;
    gap: 20px;
}


.contenedor-opinion{
    font-family: cursive;
    padding: 0 10px;
}

.opinion-informacion{
    width: 90%;
    height: 40%;
    display: flex;
    gap: 10px;
}

.opinion-informacion-texto{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.opinion-informacion-texto h4{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.opinion-informacion-texto p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.contenedor-opinion-wrapper {
    display: flex;
    justify-content:center;
    gap: 20px;
    align-items: center;

  }

span{
    font-size: 22px;
    color: blue;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #1963ac !important;
}







.contenedor-blog-recientes{
    width: 100%;
    min-height: 1350px;
    background: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-recientes-titulo{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.blog-recientes-titulo h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.blog-recientes-titulo h4{
    font-family: 'Poppins Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
}

.blog-recientes-contenedor{
    width: 80%;
    height: 550px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tarjeta-blog-recientes{
    width: 30%;
    min-height: 90%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 15px;
}

.tarjeta-blog-recientes img{
width: 90%;
height:47%;
border-radius: 15px;
}

.tarjeta-blog-body{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.tarjeta-blog-body a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin:  0;
    padding: 0;
    text-decoration: none;
    color: #222222;
}
.tarjeta-blog-body p{
    font-family: 'Poppins', sans-serif;
    line-height:22px;
    font-weight: 400;
    font-size: 14px;
}

.tarjeta-div{
    text-decoration: none;
    display: flex;
    gap: 20px;
    padding: 5px 0;
}

.tarjeta-div a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


.contenedor-blog-recientes button{
    width: 130px;
    height: 38px;
    border-radius:5px;
    border: none;
    margin-left: 40px;
    color:white;
    background: linear-gradient(to right, rgb(24, 43, 193), rgb(30, 30, 200),rgb(4, 4, 202));
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
}
.contenedor-blog-recientes button:hover{
    background: linear-gradient(to right, rgb(110, 117, 173), rgb(68, 68, 177),rgb(41, 41, 174));
}

.contenedor-footer{
    width: 100%;
    height: 400px;
    background-image: url('../Img/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}


.footer-img{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
}

.t{
width: 160px;
height: 100px;
margin-bottom: 40px;
}


.footer-end{
    width: 100%;
    height:20%;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    background: #061f5b;
    border-top: 1px solid #aaaaaa;
}

.footer-end p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin: 0 170px;
    color: #aaaaaa;
}

.NOMBRE{
    color: rgb(140, 38, 177);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
}